@tailwind base;
@tailwind components;
@tailwind utilities;


.animationButton{
    animation-duration: 5000ms
}


.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


